---

---

<!-- Modal de bienvenida -->
<div class="flex flex-col space-y-6">
    <!-- Título e indicación -->
    <div id="div-create-password" class="text-center">
        <!-- <h2 class="text-xl font-semibold mb-1">
            ¡Excelente, <span id="firstNameWelcomeSpan"></span>! Tu cuenta fue
            creada con éxito
        </h2> -->

        <h2 class="text-xl font-semibold mb-1">
            ¡Bienvenido, <span id="firstNameWelcomeSpan"></span>!
        </h2>

        <p class="text-base mb-4" style="color: var(--color-text-muted);">
            Gracias por ser parte de la comunidad de aprendizaje más grande en
            Latinoamérica.
        </p>
    </div>

    <!-- Boton Comenzar que cierra todos los modales -->
    <div
        id="createPasswordNameForm"
        class="relative flex flex-col justify-center mt-7"
    >
        <button
            id="btnComenzarWelcome"
            type="submit"
            class="w-full h-12 text-white font-medium text-base hover:scale-105 transition-transform rounded-full focus:ring-4"
            style="background: var(--gradient-button-primary);"
        >
            Comenzar
        </button>
    </div>
</div>

<script>
    import { hideElement, clearFields } from '@services/closeOpenLogin';

    function closeModal_bienvenida() {
        hideElement('loginCreatePasswordDiv');
        hideElement('loginGoogleDiv');
        hideElement('loginPasswordDiv');
        hideElement('forgotPasswordDiv');
        hideElement('loginCreatePasswordNameDiv');
        hideElement('btnBack');

        clearFields([
            'emailInput',
            'spanEmail',
            'emailGoogleSpan',
            'passwordInput',
            'confirmPasswordInput',
            'passwordLoginInput',
            'firstNameInput',
            'lastNameInput',
            'firstNameWelcomeSpan',
        ]);
    }

    const btnComenzarWelcome = document.getElementById(
        'btnComenzarWelcome',
    ) as HTMLButtonElement;

    btnComenzarWelcome &&
        btnComenzarWelcome.addEventListener('click', () => {
            // Aquí puedes agregar la lógica para redirigir al usuario a la página principal o a donde desees

            closeModal_bienvenida();
            hideElement('loginModalDiv');
            hideElement('bienvenidaDiv');
            hideElement('login-modal');
        });
</script>
