---
import NavbarUser from '@components/sections/NavbarUser.astro';
import LayoutIn from '@layouts/LayoutIn.astro';
---

<LayoutIn tituloPagina="CertificadosProgreso">
    <NavbarUser />
    <h1>Certificados de progreso</h1>
</LayoutIn>
