---
import NavbarUser from '@components/sections/NavbarUser.astro';
import LayoutIn from '@layouts/LayoutIn.astro';
---

<LayoutIn tituloPagina="Compras">
    <NavbarUser />
    <h1>Compras</h1>
</LayoutIn>
