---
import NavbarUser from '@components/sections/NavbarUser.astro';
import LayoutIn from '@layouts/LayoutIn.astro';
---

<LayoutIn tituloPagina="Favoritos">
    <NavbarUser />
    <h1>Favoritos</h1>
</LayoutIn>
