---
import NavbarUser from '@components/sections/NavbarUser.astro';
import LayoutIn from '@layouts/LayoutIn.astro';
---

<LayoutIn tituloPagina="MisCursos">
    <NavbarUser />
    <h1>Mis Cursos</h1>
</LayoutIn>
