---

---

<!-- Contenedor principal del modal de login, oculto por defecto (clase "hidden") --><!-- Título del modal que indica la acción a realizar -->
<h2 class="text-xl mb-6 text-center">Revisa tu email</h2>
<p class="text-sm text-gray-500 mb-4">
    Te hemos enviado un correo electrónico a {`phoenixdhr@gmail.com`} con el enlace
    para que puedas crear una nueva contraseña. Si no te ha llegado en unos minutos,
    revisa la carpeta de los correos no deseados.
</p>
<!-- Contenedor del formulario de login -->
<div
    id="astro-login-form-google"
    class="relative flex flex-col justify-center mt-15"
>
    <!-- Botón de inicio de sesión alternativo usando la cuenta de Google -->
    <button
        id="btnContinuar"
        type="button"
        onclick="document.getElementById('forgot-password-modal').classList.add('hidden')"
        class="w-full h-12 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 font-medium text-sm hover:scale-105 transition-transform rounded-full"
    >
        Volver al inicio →
    </button>

    <hr class="w-full border-t border-gray-300 my-8" />

    <span class="text-sm text-gray-500 mb-4">
        Si necesitas ayuda comunícate con nuestro equipo de soporte a
        team@iqengi.com.
    </span>
</div>
