---
import ForgotPassword from '@components/molecules/login/ForgotPassword.astro';
import CreatePassword from '@components/molecules/login/LoginCreatePassword';
import LoginCreatePassword from '@components/molecules/login/LoginCreatePassword.astro';
import LoginGoogle from '@components/molecules/login/LoginGoogle.astro';
import LoginModal from '@components/molecules/login/LoginModal.astro';
import LoginPassword from '@components/molecules/login/LoginPassword.astro';
import LoginCreatePasswordName from '@components/molecules/login/LoginCreatePasswordName.astro';
---

<div
    id="login-modal"
    class={`hidden fixed inset-0 bg-[rgba(0,0,0,0.85)] bg-opacity-80 flex items-center justify-center z-50`}
>
    <!-- Caja interna del modal que contiene el formulario de inicio de sesión -->
    <div
        id="astro-login-box"
        class="bg-gray-100 text-gray-900 p-8 rounded-3xl w-11/12 max-w-md h-[500px] relative shadow-2xl flex flex-col"
    >
        <!-- Botón de cierre -->
        <button
            id="btnClose"
            type="button"
            class="absolute top-4 right-4 text-gray-600 hover:text-gray-800 text-xl"
        >
            ✖
        </button>
        <!-- Botón de regresar (se muestra solo si se proporciona onBack) -->

        <button
            id="btnBack"
            type="button"
            class="hidden absolute top-4 left-4 text-gray-600 hover:text-gray-800 text-2xl mr-4"
        >
            ←
        </button>

        <!-- Logo de IQ-ENGI (ejemplo) -->
        <div class="h-12"></div>

        <div class="absolute top-12 left-1/2 transform -translate-x-1/2">
            <a href="#" class="flex items-center space-x-2">
                <img
                    class="h-8 lg:h-10 w-auto"
                    src="/favicon.svg"
                    alt="IqEngi"
                />
                <span
                    class="bg-gradient-to-br from-purple-600 to-blue-500 bg-clip-text text-transparent font-bold text-2xl lg:text-3xl"
                >
                    IQ-ENGI
                </span>
            </a>
        </div>
        <div class="h-10"></div>

        <!-- Contenido específico del modal -->

        <div id="loginModalDiv"><LoginModal /></div>
        <div id="loginCreatePasswordDiv" class="hidden">
            <LoginCreatePassword />
            <!-- <CreatePassword client:only="true" /> -->
        </div>
        <div id="loginGoogleDiv" class="hidden"><LoginGoogle /></div>
        <div id="loginPasswordDiv" class="hidden"><LoginPassword /></div>
        <div id="loginCreatePasswordNameDiv" class="hidden">
            <LoginCreatePasswordName />
        </div>
        <div id="forgotPasswordDiv" class="hidden"><ForgotPassword /></div>
    </div>
</div>
<script>
    import {
        showElement,
        hideElement,
        clearFields,
    } from '@services/closeOpenLogin';

    function closeModal() {
        showElement('loginModalDiv');
        hideElement('loginCreatePasswordDiv');
        hideElement('loginGoogleDiv');
        hideElement('loginPasswordDiv');
        hideElement('forgotPasswordDiv');
        hideElement('loginCreatePasswordNameDiv');
        hideElement('btnBack');

        clearFields([
            'emailInput',
            'spanEmail',
            'emailGoogleSpan',
            'passwordInput',
            'confirmPasswordInput',
            'passwordLoginInput',
            'firstNameInput',
            'lastNameInput',
        ]);
    }

    const btnBack = document.getElementById('btnBack');
    btnBack &&
        btnBack.addEventListener('click', () => {
            closeModal();
        });

    const btnClose = document.getElementById('btnClose');
    btnClose &&
        btnClose.addEventListener('click', () => {
            closeModal();
            hideElement('login-modal');
        });

    window.addEventListener('listener-login-modal', () => {
        document.getElementById('login-modal')?.classList.remove('hidden');
    });
</script>
