---
import CourseCardStatic from '@components/molecules/Cards/CourseCardStatic.astro';
import { clientGql } from '@graphql-astro/apolloClient';
import { CursosDocument, type Curso } from '@graphql-astro/generated/graphql';
import LayoutSeo from '@layouts/LayoutSeo.astro';
import { getCoursesJsonLd } from '@utils/jsonld';
export const prerender = true;

let cursos: Curso[] = [];
let coursesJsonLd;

try {
    const { data } = await clientGql.query({
        query: CursosDocument,
        variables: { offset: 0, limit: 10 },
    });

    cursos = data?.Cursos || [];
    coursesJsonLd = getCoursesJsonLd(cursos);
} catch (error) {
    console.error('Error fetching courses for comunidad page:', error);
    cursos = [];
    coursesJsonLd = null;
}
---

<LayoutSeo tituloPagina="Comunidad" seoJsonLd={coursesJsonLd}>
    <h1 class="text-2xl font-bold text-center my-6">Comunidad</h1>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-4 px-8">
        {cursos.map((curso) => <CourseCardStatic {...curso} />)}
    </section>
</LayoutSeo>
