---
import Counter from '@components/atoms/Counter';
import Cards from '@components/molecules/Cards.astro';
import CursosFavoritosLista from '@components/sections/CursosFavoritosLista';
import { clientGql } from '@graphql-astro/apolloClient';
import { CursosDocument, type Curso } from '@graphql-astro/generated/graphql';
import LayoutSeo from '@layouts/LayoutSeo.astro';
import { getCoursesJsonLd } from '@utils/jsonld';
export const prerender = true;

let cursos: Curso[] = [];
let coursesJsonLd;

try {
    const { data } = await clientGql.query({
        query: CursosDocument,
        variables: { offset: 0, limit: 10 },
    });

    cursos = data?.Cursos || [];
    coursesJsonLd = getCoursesJsonLd(cursos);
} catch (error) {
    console.error('Error fetching courses for favoritos page:', error);
    cursos = [];
    coursesJsonLd = null;
}

const counterValue = 100;
---

<LayoutSeo tituloPagina="contactanos" seoJsonLd={coursesJsonLd}>
    <h1 class="text-2xl font-bold text-center my-6">Cursos Favoritos</h1>
    <CursosFavoritosLista client:only="react" />

    <Counter
        client:only="react"
        value={counterValue}
        transition:persist
        transition:persist-props
        transition:name="counter"
    />
</LayoutSeo>
