---
import { getHomeJsonLd } from '@utils/jsonld.ts';
import Layout from '@layouts/Layout.astro';
import CursosBannerIndex from '@components/sections/CursosBanner-index.astro';
import Footer from '@components/sections/Footer.astro';

const tituloPagina = 'IqEngi | Home';

const homeJsonLd = getHomeJsonLd();
---

<Layout tituloPagina={tituloPagina} seoJsonLd={homeJsonLd}>
    <h1 class="font-black w-xl text-4xl bg-blue-500">Hola</h1>
    <!-- <Welcome /> -->
    <CursosBannerIndex />
    <Footer />
</Layout>
