---
/**
 * Definici칩n de las propiedades esperadas para este layout.
 */
import { ClientRouter } from 'astro:transitions';
import '@styles/global.css';

interface Props {
    tituloPagina: string;
}
const { tituloPagina } = Astro.props;
---

<html lang="en">
    <head>
        <ClientRouter />
        <!-- Metadatos por defecto <head> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Metadatos Tags est치ndar (HTML)-->
        <title>{tituloPagina} - IQEngi</title>
    </head>

    <body class="overflow-y-scroll">
        <slot />
    </body>
</html>

<script>
    // Evento de prueba para detectar navegaci칩n (puede eliminarse en producci칩n)
    window.addEventListener('navigate', () => {});
</script>
